html {
    font-size: 1px; 
  }
  body {
    font-family: 'Helvetica', Arial;
    font-size:1vw;
    margin:0;
  }
  a {
    text-align: center;
    font-weight: bold;
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  header {
    background-color: white;
    margin: 0;
  }
  .cima {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70rem; 
  }
  .logo img {
    max-width: 10.625vw; 
    max-height: 18.88vh; 
  }
  .search-form input {
    height:4.44vh; 
    width: 37.5vw;
    padding: 10rem; 
    border-radius: 70rem; 
  }
  .search-form button {
    color: black;
    width: 5.625vw; 
    height: 8.33vh;
    background-color: white;
    border-radius: 35rem;
    font-size:1vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .search-form button:hover {
    background-color: black;
    color: white;
  }
  .suggestions {
  border: 1px solid #ccc;
  background-color: #fff;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  display: none; 
  z-index: 1000;
}
.suggestions div {
  padding: 8px;
  cursor: pointer;
}
.suggestions div:hover {
  background-color: #f0f0f0;
}
  .user-icon img {
    max-width: 4.06vw; 
    max-height: 7.22vh; 
  }
  .adicionar-btn{
    font-size:1.25vw;
  }
  .menu-categorias {
    display: flex;
    justify-content: center;
    gap:30rem;
  }
  .menu-categorias a {
    font-size:1.5vw;
    background-color: lightcyan;
    font-weight: bold;
  }
  footer {
    background-color: white;
    text-align: center;
    font-size: 1.25vw; 
    font-weight: bold;
  }
  
@media (max-width: 420px) {
    .cima {
      flex-direction: column;
      padding: 0;
      gap: 10rem;
    }
  
    .logo img {
      max-width: 50vw; 
      max-height: 15vh;
      margin: 0 auto;
    }
  
    .search-form input {
      width: 85vw;
      padding: 5rem;
      margin: 0 auto;
    }
  
    .search-form button {
      font-size:3vw;
      width: 20vw;
      height: 7vh;
      margin: 1rem auto;
    }
  
    .user-icon img {
      max-width: 20vw;
      max-height: 10vh;
      margin: 0 auto;
    }
  
    .adicionar-btn {
        font-size:3vw;
    }

    .menu-categorias a {
      font-size: 3vw;
      padding: 4rem;
      display: block;
      width: 85vw; 
      max-width: 85vw;
      margin: 0 auto; 
    }
    
    footer {
      font-size: 2.5vw;
      padding: 10rem 0;
    }
  }
  
  @media (max-width: 550px) and (min-width: 421px) {
    .menu-categorias {
      flex-wrap: wrap;
      justify-content: center;
      gap: 15rem;
    }
  }
